 *{
    box-sizing: content-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

body{
    font-family: "Poppins",sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;  
}

nav .header__nav-list{
    display: flex;
    gap: 1rem; 
}

nav a {
    font-weight: bold;
    color:#282C34;
}

.footer__logo,
.header__logo{
    width: 40%;
    height: auto;
}

.main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.main__intro-title{
    padding: 1rem 0 1.5rem 0;
    text-align: center;
}

section {
    padding: 0 1rem;
}

.main__intro-image,
.main__gallery-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;

}

.main__div--features{
    background-color: #faf3e9;
    
}

.main__feature{
    border: 1px solid #3e3d3d;
    margin-bottom: 1rem;
    padding: 1rem;
    width : 90%;
    height: 7rem;
}

h2{
    text-align: center;
    font-size: 100%;
}

p{
    text-align: center;
    padding-top: 1rem;
}

button{
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #d92950;
    width: 35%;
    height: 2rem;
}

.main__button{
    margin:5% 2% 2% 0; 
}

.main__section--gallery{
    background-color: #3e3d3d;
}

.main__gallery-title{
    font-size: 110%;
}

.main__gallery-content{
    color: #ffffff;
    margin-top: 1rem;
}

.main__section--details{
    padding: 2rem;
}

.main__details-content{
    margin-top: 2rem;
}

.main__details-text{
    border: 2px solid #3e3d3d;
    margin-bottom: 1rem;
    padding: 1rem;
    height: auto;
}

.main__details-link{
    margin-right: 30%;
    color :#d92950;
}

.main__details-title,
.main__form-title{
    font-size: 120%;
}

.main__section--form{
    position: relative;
    height: 25rem;
    background-color:#faf3e9;
   
}

.main__form{
    padding: 1rem 5rem 0 0; 
}

.main__form div{
    padding-bottom: 3%;
}

.main__form input{
    width: 160%;
    background-color:#faf3e9;
    border-radius: 0.3em;
}

.main__form textarea{
    border-radius: 0.3rem;
    background-color:#faf3e9;
    width: 160%;
    height: 5rem;
}

.btn  .btn__butonn{
    width: 110%;
    height: 1.8rem; 
}

.btn{
    position: absolute;
    top: 285%;
    right: 22%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

footer .footer__socials{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0 0 4em;
}

footer .footer__social-icon{
    width: 30%;
    height: 30%;
}


/* LA PARTIE MEDIA QUERY */

@media screen and (min-width : 1280px) {
    .header{
         padding: 1em 6rem;
         align-items: center;
    } 
    
    nav a {
        font-size: 150%;
    }
    
    .footer__logo,
    .header__logo{
        width: 15%;
        height: auto;
    }
   .main__section{
        display: flex;
        flex-direction: row;
        padding: 6rem 6rem;
   }

   .main__intro-content{
        width: 45%;
        padding-right: 2rem;
   }

   .main__intro-title,
   .main__intro-text{
    font-size: 200%;
    text-align:start;
   }
   
   .main__intro-text{
    font-size: 120%;
   }

   button{
    width: 35%;
    height: 3rem;
    font-size: 120%;
  }

  .main__intro-image,
.main__gallery-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;

}

.main__div--features{
    gap: 10%;
}

  .main__feature-title{
    font-size: 130%;
  }

  .main__feature-text{
    font-size: 120%;
  }

  .main__feature{
    height: 50%;
  }

  .main__gallery-content{
    padding-left: 5rem;
  }

  .main__gallery-title{
    width: 70%;
    font-size: 140%;
    text-align: start;
    padding-bottom: 1.5em;
  }

  .main__gallery-text{
    text-align: start;
    font-size: 120%;
  }

  .main__section--details{
    display: block;
    
}

.main__details-content{
    display: flex;
    gap: 10%;
    padding : 4rem 0 2rem 0;
}

.main__details-title,
.main__form-title{
    font-size: 140%;
}
 
.main__details-text{
    border: none;
    font-size: 120%;
}

.main__details-item{
    background-color:#faf3e9 ;
    padding: 2% 0;
    width: 180%;
    height: 3rem;    
}

.main__section--form{
    display: inline-block;
    width: 85%;
}

.champstext{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

label{
    font-size: 120%;
}

form{
    width: 60%;
}

.textare{
    width: 70%;
}

textarea{
    width: 70%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

footer .footer__text{
    padding: 2rem 0;
    font-size: 120%;
}

footer .footer__socials{
    display: flex;
    padding: 1.5em 0 0 4em;
}

footer a{
    width: 8%;
}

footer .footer__social-icon{
    width: 25%;
    height: auto;
}


}